.titulo{
    text-align: center;       
    padding: 0px 50px;
    margin-top: 20px;
    font-size: 6rem;
    font-weight: 800;
    transform: uppercase;
    color: transparent;
    background-image: url(https://media.giphy.com/media/OK5LK5zLFfdm/giphy.gif);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
        
}    