#contacto{
    background: #6cc091;
    padding: 50px 0px;
    color: #ffffff;
}
#contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
#contacto form{
    max-width:80%;
    margin: 0 auto;
}
.datos-form{
    display: flex;
}
.datos-form div{
    padding: 10px;
    flex: 1;
}
form label{
    display: block;
    margin-bottom: 10px;
}
form input,
form textarea{
    background-color: #6cc091;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #ffffff;
    width: 100%;
}
form input:focus,
form textarea:focus{
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}
form input::placeholder,
form textarea::placeholder{
    color: #ffffff;
}
.mensaje{
    display: flex;
    flex-direction: column;    
    padding: 10px;
}
.boton-formulario .boton-enviar{
    display: block;
    border: 1px solid #ffffff;
    text-align: center;
    transition: 0.4s;
}
.boton-formulario .boton-enviar:hover{
    background: #4fa776ad;
}